<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml" itemscope itemtype="http://schema.org/WebPage"/> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>FLOSS Manuals (Suomi)</title>
<link rel="icon" href="http://fi.flossmanuals.net/templates/fm_resources/fl2.ico" type="image/x-icon" /> 
<link rel="shortcut icon" href="http://fi.flossmanuals.net/templates/fm_resources/fl2.ico" type="image/x-icon" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="http://fi.flossmanuals.net/templates/fm_resources/ranska.css" type="text/css" media="screen,tv" />
<meta name="majestic-site-verification" content="MJ12_ee935977-e7b6-4cbc-8fd9-3306c86629de">
<link rel="publisher" href="https://plus.google.com/111748831177280637349" />
<link rel="author" href="https://plus.google.com/105755976891476798133" />

<meta name="author" content="Tomi Toivio"/>
<meta name="description" xml:lang="fi" content="Avoimen lähdekoodin ohjelmien opaskirjasto."/>
<meta name="keywords" content="VALO, avoin lähdekoodi, vapaa ohjelma, FLOSS, Manuals, suomenkielinen, käyttöohje, käyttöopas, wikikirjasto" />
<meta name="robots" content="all"/>


<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@Tomi_Toivio">
<meta name="twitter:creator" content="@Tomi_Toivio">
<meta name="twitter:title" content="FLOSS Manuals">
<meta name="twitter:description" content="Vapaat oppaat vapaille ohjelmille!">
<meta name="twitter:image" content="http://fi.flossmanuals.net/templates/floss_manuals-iphone.png">
<meta name="twitter:domain" content="fi.flossmanuals.net">
<meta name="baidu-site-verification" content="oKmHuZl3cv" />
<meta name="webutation-site-verification" content="webutatione82fd0a3fbc3b83347c31f41247cf143" />

<meta name="DC.Title" content="FLOSS Manuals (Suomi)">
<meta name="DC.Creator" content="Tomi Toivio">
<meta name="DC.Subject" content="Avoimen lähdekoodin opaskirjasto">
<meta name="DC.Description" content="Vapaat oppaat vapaille ohjelmille!">
<meta name="DC.Publisher" content="FLOSS Manuals (Suomi)">
<meta name="DC.Date" content="2013-08-21 00:00">
<meta name="DC.Type" content="Text">
<meta name="DC.Format" content="text/html">
<link rel="DC.Identifier" href="http://fi.flossmanuals.net/">
<link rel="DC.Source" href="http://fi.flossmanuals.net/">
<meta name="DC.Language" content="fi">

<meta itemprop="name" content="FLOSS Manuals (Suomi)">
<meta itemprop="description" content="Vapaat oppaat vapaille ohjelmille!">
<meta itemprop="image" content="http://fi.flossmanuals.net/templates/floss_manuals-iphone.png">

<meta property="og:url" content="http://fi.flossmanuals.net/">
<meta property="og:title" content="FLOSS Manuals (Suomi)">
<meta property="og:description" content="Vapaat oppaat vapaille ohjelmille!">
<meta property="og:image" content="http://fi.flossmanuals.net/templates/floss_manuals-iphone.png">
<meta property="og:type" content="website" />
<meta property="og:site_name" content="FLOSS Manuals (Suomi)" />

<meta name="geo.placename" content="Kirstinmäki 11, 02760 Espoo, Suomi" />
<meta name="geo.position" content="60.203219;24.665916" />
<meta name="geo.region" content="FI-Uusimaa" />
<meta name="ICBM" content="60.203219, 24.665916" />

<meta name="nibbler-site-verification" content="caacfce6b5aca2486c9588dd8885a8bc53b1ebbe" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27919770-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
    po.src = "https://apis.google.com/js/plusone.js?publisherid=111748831177280637349";
    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

</head>
<body>

<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fi_FI/all.js#xfbml=1&appId=417294881635669";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="topbar shadow">
      <a href="http://fi.flossmanuals.net"><img alt="Floss Manuals (Suomi)" class="logo" src="http://fi.flossmanuals.net/templates/fm_resources/FM-header.png" width="828px" height="49px" /></a>

      <div class="topnav">
        <ul>
          <li><a href="http://fi.flossmanuals.net/kirjoita/">Kirjoita</a></li>
<!--	  <li><a href="http://fi.flossmanuals.net/wordpress/yhteystiedot/">Kontakti</a></li>
          <li><a href="http://fi.flossmanuals.net/wordpress/usein-kysytyt-kysymykset/">Tietoa</a></li>-->
          <li class="last"><a href="http://fi.flossmanuals.net/wordpress/">Uutiset</a></li>
        </ul>
      </div>


</div>


  <div class="content-container shadow" style="background-color:#ffffff;">
    <div>

<h1>FLOSS Manuals (Suomi)</h1>
<p class="introtext">FLOSS on lyhenne sanoista "Free (Libre) Open Source Software", vapaat ja avoimen lähdekoodin ohjelmat. Suomeksi käytetään usein lyhennettä VALO, vapaat ja avoimen lähdekoodin ohjelmat. FLOSS Manuals on avoimen lähdekoodin ohjelmien dokumentaatioon ja käyttöohjeisiin keskittynyt wiki.</p>

</div>
<!--
<div style="width:100%; margin:10px;">
<iframe src="http://duckduckgo.com/search.html?site=fi.flossmanuals.net&prefill=DuckDuckGo&kad=fi_FI&kl=fi-fi&kp=-1&kn=1&kd=-1&kh=-1" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
</div>
-->
<div class="fm-info">

<!--
<h2>Parantele oppaita</h2>
<p><a href="http://fi.flossmanuals.net/kirjoita/">Kirjoita-sivuilla</a> oppaita voi muokata täysin vapaasti.</p>
<h2>Kysymyksiä?</h2>
<p>Onko ongelma? <a href="http://fi.flossmanuals.net/wordpress/yhteystiedot/">Ota yhteyttä</a> ylläpitoon.</p>
<p>Lue myös <a href="http://fi.flossmanuals.net/wordpress/usein-kysytyt-kysymykset/">Usein Kysytyt Kysymykset</a>.</p>
<div>
<h2 class="block-title">Tue meitä</h2>    
<p>Tue FLOSS Manualsia lahjoituksella FLOSS Manuals Foundationille.</p>
<center><a href="http://www.flossmanuals.org/donate"><img alt="" src="http://dabuttonfactory.com/b.png?t=Tue%20meitä!&amp;f=sans-serif&amp;ts=15&amp;tc=ffffff&amp;it=png&amp;c=5&amp;bgt=gradient&amp;bgc=f2a100&amp;ebgc=fc6900&amp;w=90&amp;h=30" style="width: 90px; height: 30px;" /></a></center>
-->

<p>
<div class="g-page" data-width="200" data-href="//plus.google.com/111748831177280637349" data-rel="publisher"></div>
</p>

<a class="twitter-timeline" href="https://twitter.com/search?q=flossmanuals.net" data-widget-id="275986874680614912">Twiittejä aiheesta "flossmanuals.net"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 

<div class="fb-like-box" data-href="https://www.facebook.com/FLOSSManualsSuomi" data-width="200" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div> 

</div>
<div class="books-list">
<h1>Kirjasto</h1>
<content-goes-here/>
</div>




</div>
</div>

</div>

</div>
</div>
</div>


<div style="position: relative; margin-top: 20px; padding:20px; height: 130px; clear:both;
-webkit-box-shadow: rgb(132, 130, 132) 4px 4px 5px 0px;
background-color: rgb(255, 255, 255);
border-top-color: #ff7f00;
border-top-style: solid;
border-top-width: 20px; bottom:0px; width:100%;">


</div>

</div>

<div style="position:absolute; width:400px; right:0px; top:0px; z-index:200;">
<script>
  (function() {
    var cx = '004113797622572594359:ixj47ojvlq4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e189f706c586aed"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'right',
      'numPreferredServices' : 5
    }   
  });
</script>
<!-- AddThis Smart Layers END -->

</body>
</html>
