<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<title>FLOSS Manuals - vapaa dokumentaatio vapaille ohjelmille</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" href="templates/fm_resources/fl2.ico" type="image/x-icon" /> <link rel="shortcut icon" href="templates/fm_resources/fl2.ico" type="image/x-icon" />
<script type="text/javascript" src="templates/fm_resources/jquery.js"></script>
<link rel="stylesheet" href="templates/fm_resources/ranska.css" type="text/css" media="screen,tv" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27919770-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fi_FI/all.js#xfbml=1&appId=248010321945512";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="topbar shadow">
      <img alt="Floss Manuals" class="logo" src="_templates/fm_resources/FM-header.png" width="828px" height="49px" />
      <div class="topnav">
        <ul>
          <li><a href="http://fi.flossmanuals.net/kirjoita/">Kirjoita</a></li>
          <li class="last"><a href="http://fi.flossmanuals.net/blog/">Blogi</a></li>
        </ul>
      </div>
      <div id="siteslist">
        <p>Sivut</p>
        <ul class="topdrop">
          <li><a href="http://en.flossmanuals.net/">Englanti</a></li>
          <li><a href="http://fa.flossmanuals.net/">Farsi</a></li>
          <li><a href="http://fr.flossmanuals.net/">Ranska</a></li>
          <li><a href="http://nl.flossmanuals.net/">Hollanti</a></li>
          <li><a href="http://translate.flossmanuals.net/">Käännökset</a></li>
          <li class="separator"><a href="http://www.flossmanuals.org/">FLOSS Manuals Foundation</a></li>
          <li><a href="http://www.booksprints.net/">Booksprints.net</a></li>
        </ul>
     </div>
</div>
  <div class="content-container shadow">
    <div>
      <h1>FLOSS Manuals</h1>
<p class="introtext">FLOSS Manuals on kokoelma vapaiden ja avoimen lähdekoodin ohjelmistojen käyttöohjeita. FLOSS Manuals on myös näiden käyttöohjeiden kirjoittamiseen käytetyt työkalut ja kirjoittamiseen osallistunut yhteisö. 
<div class="fm-info">
<h2>Tue vapaita oppaita</h2>
<p>Voit tukea vapaiden oppaiden tuotantoa lahjoittamalla varoja FLOSS Manuals Foundationille.</p>
<a href="http://www.flossmanuals.org/civicrm/contribute/transact?reset=1&amp;id=2">
<img src="http://dabuttonfactory.com/b.png?t=Lahjoita%20nyt!&f=sans-serif&ts=15&tc=ffffff\f&it=png&c=5&bgt=gradient&bgc=f2a100&ebgc=fc6900&w=90&h=30" style="width: 90px; height: 30px;"></a>

</div>
<div class="books-list">
<h1>Kirjasto</h1>
<content-goes-here/>
</div>


</div>
</div>

</div>
<!-- Begin Bookstore -->
<!--
<div style="position:absolute;top:107px;left:900px;background-color:white;border:2px solid #666;padding:5px
 margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  -moz-box-shadow: 4px 4px 5px #848284; /* FF3.5+ */
  -webkit-box-shadow: 4px 4px 5px #848284; /* Saf3.0+, Chrome */
  box-shadow: 4px 4px 5px #848284; /* Opera 10.5, IE 9.0 */
  /*
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#848284')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#848284'); */
">
<img src="_templates/bookstore_resources/bookstore.gif"/>
<style>
  @import url("_templates/bookstore_resources/bookstore.css");
</style>
 <script src="_templates/bookstore_resources/bookstore.js" type="text/javascript"></script>
 <script type="text/javascript">
    FM.init({"show":"random","items":10,"next_desc": "MORE &gt;&gt;", "prev_desc": "&lt;&lt; BACK", "paging": true});
 </script>
</div>
-->
<!-- End Bookstore -->

<div style="position:absolute; top:0px; right:0px; width:200px;">
<div id="cse-search-form" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'fi', style : google.loader.themes.MINIMALIST});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};
    var imageSearchOptions = {};
    imageSearchOptions['layout'] = google.search.ImageSearch.LAYOUT_POPUP;
    customSearchOptions['enableImageSearch'] = true;
    customSearchOptions['imageSearchOptions'] = imageSearchOptions;  var customSearchControl = new google.search.CustomSearchControl(
      '004113797622572594359:b3xlns7m_ko', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.enableSearchboxOnly("http://www.google.com/cse?cx=004113797622572594359:b3xlns7m_ko", null, true);
    customSearchControl.draw('cse-search-form', options);
  }, true);
</script>
</div>

<!-- Begin Piwik Tracking Code --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://fi.flossmanuals.net/piwik/piwik/" : "http://fi.flossmanuals.net/piwik/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://fi.flossmanuals.net/piwik/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

</body>
</html>

