<html lang="fi">
<head>
<title>FLOSS Manuals - vapaa dokumentaatio vapaille ohjelmille</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" href="templates/fm_resources/fl2.ico" type="image/x-icon" /> 
<link rel="StyleSheet" href="_templates/fm_resources/fm.css" type="text/css" media="screen">
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
<link type="text/css" href="_templates/prettify/src/prettify.css" rel="Stylesheet" >
<script type="text/javascript" src="_templates/prettify/src/prettify.js"></script>
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" 
<script type="text/javascript" src="_templates/jquery/js/jquery-1.6.1.min.js"></script>

<!-- Google Analytics BEGIN -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11299986-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>	
<!-- Google Analytics END -->

</head>
<body  background="templates/fm_resources/background.gif" style="margin:0;color:#000000;text-decoration:none;">
<style>
body
{
margin:0;
padding:0
}
#header_imagemap 
{
margin-left: 352px;
border: 0px
}
h1 {
color:#ff7f00;
}
h2 {
color:#ff7f00;
}
h3 {
color:#000000;
}

</style>
<div id="header"><img id="header_imagemap" width="465" height="95" alt="FlossManuals menu" src='templates/fm_resources//top_read.gif' border=0 usemap='#map'></div>
<p />
<!-- Navigation buttons are language and context specific -->
<div id="navigation">
<a title="Lue" href="http://fi.flossmanuals.net/index.php"><img src="_templates/fm_resources/read_active_fi.png" width="65" height="30" border="0" alt="Lue"></a>
<a title="Kirjoita" href="http://fi.flossmanuals.net/kirjoita"><img src="_templates/fm_resources/write_fi.png" width="65" height="30" border="0" alt="Kirjoita"></a>
<a title="Remiksaa" href="http://fi.flossmanuals.net/index.php?plugin=remix"><img src="_templates/fm_resources/remix_fi.png" width="65" height="30" border="0" alt="Remiksaa"></a>
<a title="Tietoa" href="http://fi.flossmanuals.net/blog"><img src="_templates/fm_resources/about_fi.png" width="65" height="30" border="0" alt="Tietoa"></a>
</div>

<!-- Language buttons are common to all pages  -->
<div id="languages">
<a title="English" href="http://en.flossmanuals.net/"><img src="_templates/fm_resources/english_button.png" width="65" height="30" border="0" alt="English"></a>
<!-- <a title="Español" href="http://es.flossmanuals.net/"><img src="_templates/fm_resources/spanish_button.png" width="65" height="30" border="0" alt="Español"></a> -->
<a title="فارسی" href="http://fa.flossmanuals.net/"><img src="_templates/fm_resources/farsi_button.png" width="65" height="30" border="0" alt="فارسی"></a>
<a title="Suomi" href="http://fi.flossmanuals.net/"><img src="_templates/fm_resources/finnish_button.png" width="65" height="30" border="0" alt="Suomi"></a>
<br>
<a title="Français" href="http://fr.flossmanuals.net/"><img src="_templates/fm_resources/french_button.png" width="65" height="30" border="0" alt="Français"></a>
<a title="Nederlands" href="http://nl.flossmanuals.net/"><img src="_templates/fm_resources/dutch_button.png" width="65" height="30" border="0" alt="Nederlands"></a>
<!-- <a title="Pусский" href="http://ru.flossmanuals.net/"><img src="_templates/fm_resources/russian_button.png" width="65" height="30" border="0" alt="Pусский"></a> -->
<a title="Translate" href="http://translate.flossmanuals.net/"><img src="_templates/fm_resources/translate_button.png" width="65" height="30" border="0" alt="Translate"></a>
</div>

<div style="position: absolute; left: 20px; top: 140px;">
 <img src="_templates/fm_resources/free.gif" border="0"><br> <img src="_templates/fm_resources/WHATDOIWANT2.gif" border="0">
</div>



9
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108

	

<html>
<head>
<title>FLOSS Manuals (en)</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" href="_templates/fm_resources/fl2.ico" type="image/x-icon" /> <link rel="shortcut icon" href="_templates/fm_resources/fl2.ico" type="image/x-icon" />
<link rel="StyleSheet" href="_templates/fm_resources/fm.css" type="text/css" media="screen">
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
</head>
<body background="_templates/fm_resources/background.gif" style="margin:0;color:#000000;text-decoration:none;">
<style>
body
{
margin:0;
padding:0
}
#header_imagemap
{
margin-left: 352px;
border: 0px
}
h1 {
color:#ff7f00;
}
h2 {
color:#ff7f00;
}
h3 {
color:#000000;
}

</style>

<!-- Header graphic is common to all pages -->
<div id="header"><img id="header_image" alt="FlossManuals menu" src="_templates/fm_resources/header_menu.gif" height="95" width="465" border="0"></div>


<!-- Navigation buttons are language and context specific -->
<div id="navigation">
<a title="Read" href="http://en.flossmanuals.net/index.php"><img src="_templates/fm_resources/read_active_en.png" width="65" height="30" border="0" alt="Read"></a>
<a title="Write" href="http://booki.flossmanuals.net/"><img src="_templates/fm_resources/write_en.png" width="65" height="30" border="0" alt="Write"></a>
<a title="Remix" href="http://en.flossmanuals.net/index.php?plugin=remix"><img src="_templates/fm_resources/remix_en.png" width="65" height="30" border="0" alt="Remix"></a>
<a title="About" href="http://en.flossmanuals.net/index.php?plugin=blog"><img src="_templates/fm_resources/about_en.png" width="65" height="30" border="0" alt="About"></a>
</div>

<!-- Language buttons are common to all pages -->
<div id="languages">
<a title="English" href="http://en.flossmanuals.net/"><img src="_templates/fm_resources/english_button.png" width="65" height="30" border="0" alt="English"></a>
<!-- <a title="Español" href="http://es.flossmanuals.net/"><img src="_templates/fm_resources/spanish_button.png" width="65" height="30" border="0" alt="Español"></a> -->
<a title="فارسی" href="http://fa.flossmanuals.net/"><img src="_templates/fm_resources/farsi_button.png" width="65" height="30" border="0" alt="فارسی"></a>
<a title="Suomi" href="http://fi.flossmanuals.net/"><img src="_templates/fm_resources/finnish_button.png" width="65" height="30" border="0" alt="Suomi"></a>
<br>
<a title="Français" href="http://fr.flossmanuals.net/"><img src="_templates/fm_resources/french_button.png" width="65" height="30" border="0" alt="Français"></a>
<a title="Nederlands" href="http://nl.flossmanuals.net/"><img src="_templates/fm_resources/dutch_button.png" width="65" height="30" border="0" alt="Nederlands"></a>
<!-- <a title="Pусский" href="http://ru.flossmanuals.net/"><img src="_templates/fm_resources/russian_button.png" width="65" height="30" border="0" alt="Pусский"></a> -->
<a title="Translate" href="http://translate.flossmanuals.net/"><img src="_templates/fm_resources/translate_button.png" width="65" height="30" border="0" alt="Translate"></a>
</div>

<div style="position: absolute; left: 20px; top: 140px;">
 <img src="_templates/fm_resources/free.gif" border="0"><br> <img src="_templates/fm_resources/WHATDOIWANT2.gif" border="0">
</div>






<div style="position:absolute;left:270px;top:130px;">
<table cellpadding="0" cellspacing="0" summary="" style="table-layout:fixed;width:670;border: 5px solid #666666;padding-right: 0px;padding-left: 0px;padding-bottom: 0px;padding-top: 0px;margin-left : 10px;margin-top:10;background:#FFF7F0;">
<tr>

<td width=100%>
<div class="ds-contentcontainer">
<div style="margin-left:1.2em;">
<p />
 <img src='_templates/fm_resources/text_read.gif' border=0 style='position:absolute;top:30px;'><br><br>
<p />

<br> <br> <br> <br>
<font color="#777777">
FLOSS Manuals on avoimen l&auml;hdekoodin opaskirjasto. P&auml;&auml;set lukemaan oppaita napsauttamalla otsikkoa t&auml;m&auml;n sivun valikosta. <a href="http://fi.flossmanuals.net/kirjoita/">Kirjoita</a>-osiossa voit kirjautua sis&auml;&auml;n ja muokata oppaita Booki-alustalla. Katso my&ouml;s <a href="http://fi.flossmanuals.net/floss-manuals/ch013_ukk">Usein kysytyt kysymykset</a>, <a href="http://fi.flossmanuals.net/blog/">blogi</a> ja <a href="http://fi.flossmanuals.net/blog/forums/forum/floss-manuals/">keskustelupalsta</a>. Voit myös liittyä kansainväliselle <a href="http://lists.flossmanuals.net/listinfo.cgi/discuss-flossmanuals.net">postilistallemme</a>.
<br>
<br>
<p />
<content-goes-here/>
<p />
<p />
<br><br>
                        </div>
                        </div>
                        </td>
                        </tr>

                </table>






</div>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://fi.flossmanuals.net/piwik/piwik/" : "http://fi.flossmanuals.net/piwik/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://fi.flossmanuals.net/piwik/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code --></body>
</html>




